.add-list {
  .list {
    margin-bottom: unset;
    li {
      -webkit-transition: color 0.3s ease-in-out;
      -moz-transition: color 0.3s ease-in-out;
      -ms-transition: color 0.3s ease-in-out;
      -o-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out;
      &:hover {
        background-color: unset;
      }
    }
  }
  &__close {
    top: -8px;
    right: -8px;
    position: absolute;
    cursor: pointer;
  }
  &__popup {
    position: relative;
    left: 8px;
    top: 3px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    background-color: #ffffff;
    width: 235px;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.05);
  }
  &__colors {
    ul {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &__color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
    &.active {
      border-color: #525252;
    }
  }
  &__link {
    color: #767676;
    transition: 0.3s color ease-in-out;
    svg {
      path {
        stroke: #767676;
        transition: 0.3s stroke ease-in-out;
      }
    }
    &:hover {
      color: #000000;
      svg {
        path {
          stroke: #000000;
        }
      }
    }
  }
}